/.pure
/Makefile
/config.h
/config.h.in
/config.log
/config.status
/configure
/dependencies
/linker_options
/make_variables
/modlist_headers
/modlist_segment
/mysql.c
/testsuite
/remake
/result.c
/stamp-h
/stamp-h.in
