/.pure
/Makefile
/config.log
/config.status
/configure
/dependencies
/lib_dirs
/linker_options
/modlist_headers
/modlist_segment
/module_testsuite
/readline_machine.h
/readline_machine.h.in
/stamp-h
/stamp-h.in
