/*.files
/*.md
/.nfs*
/Calendar.wmml
/Image.wmml
/Math.wmml
/Mysql.wmml
/Parser.wmml
/Protocols*.wmml
/___tmp.*
/__tmp.ppm
/error.pdf
/execute_cache
/execute_cache.log
/extra_textflows.mif
/gfx
/illustration*.*
/illustration_cache
/image_cache
/image_cache.log
/latex.wcache
/latex_wcache
/latex_wcache.log
/man
/missfont.log
/pike.pdf
/test.aux
/test.dvi
/test.log
/test.pdf
/test.tex
/texput.log
/tut*.html
/tutorial-foo.wmml
/tutorial.aux
/tutorial.dvi
/tutorial.html
/tutorial.log
/tutorial.mif
/tutorial.out
/tutorial.pdf
/tutorial.pdftex
/tutorial.ps
/tutorial.ps.bz2
/tutorial.ps.gz
/tutorial.tex
/tutorial.toc
/tutorial.xml
/tutorial_*.html
/tutorial_onepage.tex
