/*.files
/*.md
/.nfs*
/Calendar.wmml
/Image.wmml
/Mysql.wmml
/Parser.wmml
/ProtocolsHTTP.wmml
/ProtocolsLysKOM.wmml
/___tmp.*
/extra_textflows.mif
/illustration*.*
/illustration_cache
/man
/tut*.html
/tutorial-foo.wmml
/tutorial.aux
/tutorial.dvi
/tutorial.html
/tutorial.log
/tutorial.mif
/tutorial.pdf
/tutorial.tex
/tutorial_*.html
