/.nfs*
/___tmp.*
/extra_textflows.mif
/illustration*.gif
/illustration_cache
/tutorial-foo.wmml
/tutorial.aux
/tutorial.dvi
/tutorial.html
/tutorial.log
/tutorial.mif
/tutorial.tex
/tutorial_*.html
/tut*.html
/*.md
/*.files
