Makefile
autom4te*
configure
config.cache
config.log
config.status
config.h
make_variables
modlist_segment
module.pmod
module.so
propagated_variables
sass.c
*.o
plib/
refdoc/
_build/
tmp/
*.css
*.map
