[attr]binary -text -crlf -diff -ident
* text ident
testfont binary

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/src/modules/_Crypto/crypto.c foreign_ident
/src/modules/_Crypto/crypto.h foreign_ident
/src/modules/_Crypto/des.c foreign_ident
/src/modules/_Crypto/des.pike foreign_ident
/src/modules/_Crypto/idea.c foreign_ident
/src/modules/_Crypto/idea.pike foreign_ident
/src/modules/_Crypto/invert.c foreign_ident
/src/modules/_Crypto/md2.c foreign_ident
/src/modules/_Crypto/md5.c foreign_ident
/src/modules/_Crypto/md5.pike foreign_ident
