[attr]binary -text -crlf -diff -ident
* text ident
*.gif binary
*.gz binary
*.ppm binary
*.rs binary
testfont binary

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/lib/modules/LR.pmod/Grammar_parser.pmod foreign_ident
/lib/modules/LR.pmod/item.pike foreign_ident
/lib/modules/LR.pmod/kernel.pike foreign_ident
/lib/modules/LR.pmod/lr.pike foreign_ident
/lib/modules/LR.pmod/parser.pike foreign_ident
/lib/modules/LR.pmod/priority.pike foreign_ident
/lib/modules/LR.pmod/rule.pike foreign_ident
/lib/modules/LR.pmod/scanner.pike foreign_ident
/lib/modules/MIME.pmod foreign_ident
/lib/modules/SSL.pmod/asn1.pmod foreign_ident
/lib/modules/Sql.pmod/mysql.pike foreign_ident
/lib/modules/Sql.pmod/mysql_result.pike foreign_ident
/lib/modules/Sql.pmod/sql.pike foreign_ident
/lib/modules/Sql.pmod/sql_result.pike foreign_ident
/src/backend.c foreign_ident
/src/builtin_functions.c foreign_ident
/src/configure.in foreign_ident
/src/docode.c foreign_ident
/src/interpret.c foreign_ident
/src/language.yacc foreign_ident
/src/las.c foreign_ident
/src/lex.c foreign_ident
/src/main.c foreign_ident
/src/mapping.c foreign_ident
/src/modules/Gdbm/acconfig.h foreign_ident
/src/modules/Gdbm/gdbmmod.c foreign_ident
/src/modules/Gmp/mpz_glue.c foreign_ident
/src/modules/Gz/acconfig.h foreign_ident
/src/modules/Gz/zlibmod.c foreign_ident
/src/modules/Image/acconfig.h foreign_ident
/src/modules/Image/blit.c foreign_ident
/src/modules/Image/blit_layer_include.h foreign_ident
/src/modules/Image/colortable.c foreign_ident
/src/modules/Image/dct.c foreign_ident
/src/modules/Image/doc/Image.html foreign_ident
/src/modules/Image/font.c foreign_ident
/src/modules/Image/image.c foreign_ident
/src/modules/Image/image.h foreign_ident
/src/modules/Image/lzw.c foreign_ident
/src/modules/Image/lzw.h foreign_ident
/src/modules/Image/matrix.c foreign_ident
/src/modules/Image/operator.c foreign_ident
/src/modules/Image/pattern.c foreign_ident
/src/modules/Image/pnm.c foreign_ident
/src/modules/Image/polyfill.c foreign_ident
/src/modules/Image/quant.c foreign_ident
/src/modules/Image/togif.c foreign_ident
/src/modules/Image/x.c foreign_ident
/src/modules/MIME/mime.c foreign_ident
/src/modules/MIME/module.pmod.in foreign_ident
/src/modules/Mysql/Makefile.in foreign_ident
/src/modules/Mysql/acconfig.h foreign_ident
/src/modules/Mysql/configure.in foreign_ident
/src/modules/Mysql/mysql.c foreign_ident
/src/modules/Mysql/precompiled_mysql.h foreign_ident
/src/modules/Mysql/result.c foreign_ident
/src/modules/Odbc/Makefile.in foreign_ident
/src/modules/Odbc/acconfig.h foreign_ident
/src/modules/Odbc/configure.in foreign_ident
/src/modules/Odbc/odbc.c foreign_ident
/src/modules/Odbc/odbc_result.c foreign_ident
/src/modules/Odbc/precompiled_odbc.h foreign_ident
/src/modules/Oracle/Makefile.in foreign_ident
/src/modules/Oracle/acconfig.h foreign_ident
/src/modules/Oracle/configure.in foreign_ident
/src/modules/Oracle/oracle.c foreign_ident
/src/modules/Pipe/acconfig.h foreign_ident
/src/modules/Pipe/pipe.c foreign_ident
/src/modules/Regexp/acconfig.h foreign_ident
/src/modules/Ssleay/ssleay.c foreign_ident
/src/modules/Yp/acconfig.h foreign_ident
/src/modules/_Crypto/cbc.c foreign_ident
/src/modules/_Crypto/crypto.c foreign_ident
/src/modules/_Crypto/crypto.h foreign_ident
/src/modules/_Crypto/des.c foreign_ident
/src/modules/_Crypto/des.pike foreign_ident
/src/modules/_Crypto/idea.c foreign_ident
/src/modules/_Crypto/idea.pike foreign_ident
/src/modules/_Crypto/include/des.h foreign_ident
/src/modules/_Crypto/invert.c foreign_ident
/src/modules/_Crypto/lib/desCode.h foreign_ident
/src/modules/_Crypto/lib/desKerb.c foreign_ident
/src/modules/_Crypto/lib/desQuick.c foreign_ident
/src/modules/_Crypto/lib/desTest.c foreign_ident
/src/modules/_Crypto/lib/desUtil.c foreign_ident
/src/modules/_Crypto/lib/descore.README foreign_ident
/src/modules/_Crypto/lib/desdata.c foreign_ident
/src/modules/_Crypto/lib/desinfo.h foreign_ident
/src/modules/_Crypto/lib/rc4.c foreign_ident
/src/modules/_Crypto/md2.c foreign_ident
/src/modules/_Crypto/md5.c foreign_ident
/src/modules/_Crypto/md5.pike foreign_ident
/src/modules/_Crypto/pipe.c foreign_ident
/src/modules/_Crypto/rc4.c foreign_ident
/src/modules/call_out/call_out.c foreign_ident
/src/modules/files/acconfig.h foreign_ident
/src/modules/files/file.c foreign_ident
/src/modules/readline/acconfig.h foreign_ident
/src/modules/spider/accesseddb.h foreign_ident
/src/modules/spider/dumudp.c foreign_ident
/src/modules/sprintf/sprintf.c foreign_ident
/src/modules/system/acconfig.h foreign_ident
/src/modules/system/passwords.c foreign_ident
/src/modules/system/syslog.c foreign_ident
/src/modules/system/system.c foreign_ident
/src/modules/system/system.h foreign_ident
/src/object.c foreign_ident
/src/operators.c foreign_ident
/src/pike_types.c foreign_ident
/src/program.c foreign_ident
/src/testsuite.in foreign_ident
/src/threads.c foreign_ident
