RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
/Pike*
/a.out
/alpha
/alpha-gcc
/alpha-no-debug
/alpha_cc
/build
/build2
/egcs-build
/msbuild
/ntbuild
/obsolete
/reports
/solaris
/test
/test1
/testcache
