[attr]binary -text -crlf -diff -ident
* text ident

# Handling of foreign (ie CVS) identifiers.
#
[attr]foreign_ident -ident block_commit=Remove-foreign_ident-attribute-before-commit.
# Files containing CVS ids follow.
# Remove the corresponding line before committing
# changes to these files.
/lib/modules/Search.pmod/Database.pmod/MySQL.pike foreign_ident
/src/modules/_WhiteFish/Makefile.in foreign_ident
/src/modules/_WhiteFish/acconfig.h foreign_ident
/src/modules/_WhiteFish/configure.in foreign_ident
/src/modules/_WhiteFish/resultset.c foreign_ident
/src/modules/_WhiteFish/whitefish.c foreign_ident
