/.pure
/Makefile
/config.log
/config.status
/configure
/dependencies
/gmp_machine.h
/gmp_machine.h.in
/linker_options
/make_variables
/modlist_headers
/modlist_segment
/testsuite
/remake
/stamp-h
/stamp-h.in
/*.compiled
/mpf.c
/mpq.c
