/.pure
/Makefile
/config.log
/config.status
/configure
/dependencies
/linker_options
/make_variables
/modlist_headers
/modlist_segment
/testsuite
/remake
/stamp-h
/stamp-h.in
/*.compiled
/debug.c
/debug_config.h
/debug_config.h.in
