Source: pike7.4
Section: interpreters
Priority: optional
Maintainer: Marek Habersack <grendel@debian.org>
Standards-Version: 3.5.10
Build-Depends: debhelper (>> 4.0.0), libgdbmg1-dev, libgmp3-dev, libz-dev, libjpeg-dev, libttf-dev, libmysqlclient10-dev, libreadline-dev, perl5, bison, glutg3-dev, libgnome-dev, xlibmesa-gl-dev, xlibmesa-glu-dev, libgnorba-dev, libxpm4-dev, libglib1.2-dev, libglade0-dev, libxml2-dev, libgtkxmhtml-dev, libfreetype6-dev, libdockapp-dev, autoconf2.13, automake, libiodbc2-dev, libsane-dev, postgresql-dev, librsvg2-dev, libsdl-mixer1.2-dev, libsdl1.2-dev, libperl-dev, sharutils, libpng2-dev, orbit, libtiff3g-dev, libungif4-dev, gdk-imlib1-dev, bc
Build-Conflicts: libutahglx-dev

Package: pike7.4-core
Architecture: any
Depends: ${shlibs:Depends}
Suggests: pike7.4-doc
Recommends: pike7.4-image (=${Source-Version})
Description: Powerful interpreted programming language
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/
 Note that some of the  Pike features are found in other pike7.4-* packages 
 (image processing, mysql, postgresql, sane and more).

Package: pike7.4
Architecture: all
Depends: pike7.4-core (=${Source-Version}), pike7.4-image (=${Source-Version}), pike7.4-gdbm (=${Source-Version})
Recommends: pike7.4-doc (=${Source-Version})
Suggests: pike7.4-mysql (=${Source-Version}), pike7.4-pg (=${Source-Version}), pike7.4-dev (=${Source-Version})
Description: Recommended meta package for Pike 7.4
 This is a meta package which depends upon several other Pike
 packages that together make up the recommended Pike installation.
 If you want to install every packaged component of the Pike 
 distribution, please install the pike7.4-meta package.
 .
 If you want to remove several components this package depends
 upon, you can purge this package without worrying about the
 functionality loss in Pike and then remove the packages you
 don't need on your system.
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/

Package: pike7.4-mysql
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Mysql module for Pike
 This Pike module provides access to Mysql databases.

Package: pike7.4-pg
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Postgres module for Pike
 This Pike module provides access to Postgres databases.

Package: pike7.4-odbc
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Odbc module for Pike
 This Pike module provides glue to the iOdbc interface.

Package: pike7.4-svg
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Suggests: pike7.4-image (=${Source-Version})
Description: SVG format support for Pike
 This module provides an SVG graphics format module. It has
 been separated from the pike7.4-image module because of its
 quite extensive dependencies.

Package: pike7.4-image
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Suggests: pike7.4-svg (=${Source-Version})
Description: Image module for Pike
 This module provides many powerful image processing functions to
 Pike programs.

Package: pike7.4-sdl
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: SDL module for Pike
 This module provides the Pike interface to the SDL library.

Package: pike7.4-gdbm
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Gdbm module for Pike
 This Pike module provides access to gdbm databases.

Package: pike7.4-gtk
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: GTK module for Pike
 This Pike module provides access to the GTK+ library.

Package: pike7.4-gl
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Mesa module for Pike
 This Pike module provides access to the Mesa 3D graphics library.

Package: pike7.4-sane
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: SANE module for Pike
 This Pike module provides access to SANE.

Package: pike7.4-perl
Architecture: any
Depends: ${shlibs:Depends}, pike7.4-core (=${Source-Version})
Description: Perl module for Pike
 This Pike module enables one to embed perl in the pike
 programs.

Package: pike7.4-dev
Architecture: all
Depends: ${shlibs:Depends}
Description: Development files for Pike 7.4
 This package contains files you will need to develop  C extension modules 
 for Pike. The package depends on  the recommended set of packages for the 
 Pike  environment.
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/

Package: pike7.4-manual
Architecture: all
Section: doc
Description: Pike 7.4 manual
 The Pike manual auto-generated from the sources.
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/

Package: pike7.4-reference
Architecture: all
Section: doc
Description: Pike 7.4 reference
 The Pike reference auto-generated from the sources.
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/

Package: pike7.4-doc
Architecture: all
Section: doc
Depends: pike7.4-manual (=${Source-Version}), pike7.4-reference (=${Source-Version})
Description: Pike 7.4 documentation meta package
 This package depends upon all the Pike 7.4 documentation  packages. Note 
 that the download and installation sizes  might be very large.
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/

Package: pike7.4-meta
Architecture: all
Depends: pike7.4 (=${Source-Version}), pike7.4-mysql (=${Source-Version}), pike7.4-pg (=${Source-Version}), pike7.4-odbc (=${Source-Version}), pike7.4-image (=${Source-Version}), pike7.4-sdl (=${Source-Version}), pike7.4-gdbm (=${Source-Version}), pike7.4-gtk (=${Source-Version}), pike7.4-gl (=${Source-Version}), pike7.4-sane (=${Source-Version}), pike7.4-doc (=${Source-Version}), pike7.4-dev (=${Source-Version}), pike7.4-perl (=${Source-Version})
Description: Meta package for Pike 7.4
 This package depends on all the components that make up the Pike
 language distribution. It will pull in a LOT of packages the
 Pike components depend upon (including XFree libraries, GTK, GNOME)!
 .
 Pike is an interpreted, object-oriented, dynamic programming language
 with a syntax similar to C. It includes many powerful data types and
 a module system that, for instance, provides image manipulation together,
 with support for graphics formats like SVG, JPG, PNG, GIF, XCF and many
 others,  database connectivity, advanced cryptography, XML/HTML parsers
 and others. To learn more about pike, please visit http://pike.ida.liu.se/
