/.pure
/Makefile
/pcre2_machine.h
/pcre2_machine.h.in
/config.log
/config.status
/configure
/dependencies
/linker_options
/make_variables
/modlist_headers
/modlist_segment
/testsuite
/remake
/stamp-h
/stamp-h.in
/pcre2_glue.c
/pcre2_glue.cmod.compiled
