/Makefile
/build_type
/config.log
/config.status
/configure
/dependencies
/make_variables
/propagated_variables
/stamp-h
/stamp-h.in
/testsuite
/fsevents.c
/fsevents.cmod.compiled
/fsevents_config.h.in
