Makefile
autom4te*
configure
config.cache
config.log
config.status
config.h
config.warnings
make_variables
modlist_segment
module.pmod
module.so
propagated_variables
linker_options
dependencies
testsuite
stamp-h
sass.c
remake
*.feature
*.o
plib/
refdoc/
_build/
tmp/
*.css
*.map
/stamp-h.in
/config.h.in
