/*.cmod.compiled
/cipher.c
/configure
/dependencies
/hash.c
/hogweed.c
/nettle.c
/nettle_config.h.in
/nt.c
/stamp-h.in
/Makefile
/config.log
/config.status
/make_variables
/pike_Nettle.feature
/propagated_variables
/stamp-h
