/json5.c
/json5.cmod.compiled
/json5_config.h
/json5_config.h.in
/Makefile
/build_type
/config.log
/config.status
/configure
/dependencies
/make_variables
/propagated_variables
/stamp-h
/stamp-h.in
/testsuite
