/Makefile
/autodoc.xml
/autodoc-stamp
/backend.c
/builtin.c
/case_info.h
/confdefs.h
/config.cache
/config.h.in
/config.info
/config.log
/config.status
/configure
/conftest.c
/conftest.h
/dependencies
/dumpmodule.log
/facetgroup.c
/hilfe
/hsort_template.h
/interpret_functions_fixed.h
/interpret_protos.h
/interpret_protos.h.nolines
/interpret_protos.h_src
/interpret_protos.h_src.nolines
/interpreter_debug.h
/isort_template.h
/iterators.c
/language.c
/language.h
/language.h.nolines
/language.h_src
/language.h_src.nolines
/lexer0.h
/lexer1.h
/lexer2.h
/lib
/machine.h
/machine.h.in
/make_variables
/mapping_stuff.c
/master.pike
/master-stamp
/module_magic.c
/num_files_to_install
/patch_cc1
/patch_cc1.o
/peep_engine.c
/pike
/pike.syms
/pike.tmp
/precompile
/precompile-method
/precompile.sh
/qsort_template.h
/remake
/smartlink
/specs
/stamp-h
/stamp-h.in
/test-install
/testsuite
/treeopt.h
/y.output
/y.tab.c
/y.tab.h
/*.compiled
