/ChangeLog
/Makefile
/aclocal.m4
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/docs
/files_to_compile
/linker_options
/make_variables
/modlist_headers
/modlist_segment
/options
/prototypes.h
/sources
/stamp-h.in
